# Keep aligned with HA core pyproject.toml

[MAIN]
py-version=3.14
jobs=2
persistent=no
fail-on=I

init-hook=import sys; from pathlib import Path; sys.path.insert(0, str(Path(".ha-core/pylint/plugins").resolve()))

load-plugins=
    pylint.extensions.code_style,
    pylint.extensions.typing,
    pylint_home_assistant,

extension-pkg-allow-list=
    av.audio.stream,
    av.logging,
    av.stream,
    ciso8601,
    orjson,
    cv2

[BASIC]
class-const-naming-style=any

[MESSAGES CONTROL]

# Reasons disabled:
# format - handled by ruff
# locally-disabled - it spams too much
# duplicate-code - unavoidable
# cyclic-import - doesn't test if both import on load
# abstract-class-little-used - prevents from setting right foundation
# unused-argument - generic callbacks and setup methods create a lot of warnings
# too-many-* - are not enforced for the sake of readability
# too-few-* - same as too-many-*
# abstract-method - with intro of async there are always methods missing
# inconsistent-return-statements - doesn't handle raise
# too-many-ancestors - it's too strict.
# wrong-import-order - isort guards this
# possibly-used-before-assignment - too many errors / not necessarily issues
# ---
# Pylint CodeStyle plugin
# consider-using-namedtuple-or-dataclass - too opinionated
# consider-using-assignment-expr - decision to use := better left to devs

disable=
    format,
    abstract-method,
    cyclic-import,
    duplicate-code,
    inconsistent-return-statements,
    locally-disabled,
    not-context-manager,
    too-few-public-methods,
    too-many-ancestors,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-public-methods,
    too-many-boolean-expressions,
    too-many-positional-arguments,
    wrong-import-order,
    consider-using-namedtuple-or-dataclass,
    consider-using-assignment-expr,
    possibly-used-before-assignment,

    # Disabled while existing violations are being cleaned up
    home-assistant-unused-test-fixture-argument,

    # Handled by ruff
    await-outside-async,
    bad-str-strip-call,
    bad-string-format-type,
    bidirectional-unicode,
    continue-in-finally,
    duplicate-bases,
    misplaced-bare-raise,
    format-needs-mapping,
    function-redefined,
    invalid-all-object,
    invalid-character-backspace,
    invalid-character-esc,
    invalid-character-nul,
    invalid-character-sub,
    invalid-character-zero-width-space,
    logging-too-few-args,
    logging-too-many-args,
    missing-format-string-key,
    mixed-format-string,
    no-method-argument,
    no-self-argument,
    nonexistent-operator,
    nonlocal-without-binding,
    not-in-loop,
    notimplemented-raised,
    return-in-init,
    return-outside-function,
    syntax-error,
    too-few-format-args,
    too-many-format-args,
    too-many-star-expressions,
    truncated-format-string,
    undefined-all-variable,
    undefined-variable,
    used-prior-global-declaration,
    yield-inside-async-function,
    yield-outside-function,
    anomalous-backslash-in-string,
    assert-on-string-literal,
    assert-on-tuple,
    bad-format-string,
    bad-format-string-key,
    bare-except,
    binary-op-exception,
    cell-var-from-loop,
    duplicate-except,
    duplicate-key,
    duplicate-string-formatting-argument,
    duplicate-value,
    eval-used,
    exec-used,
    expression-not-assigned,
    f-string-without-interpolation,
    forgotten-debug-statement,
    format-string-without-interpolation,
    global-variable-not-assigned,
    implicit-str-concat,
    import-outside-toplevel,
    import-self,
    inconsistent-quotes,
    invalid-envvar-default,
    keyword-arg-before-vararg,
    logging-format-interpolation,
    logging-fstring-interpolation,
    logging-not-lazy,
    misplaced-future,
    named-expr-without-context,
    nested-min-max,
    pointless-statement,
    raise-missing-from,
    redefined-builtin,
    try-except-raise,
    unused-argument,
    unused-format-string-argument,
    unused-format-string-key,
    unused-import,
    unused-variable,
    useless-else-on-loop,
    wildcard-import,
    bad-classmethod-argument,
    consider-iterating-dictionary,
    empty-docstring,
    invalid-name,
    line-too-long,
    missing-class-docstring,
    missing-final-newline,
    missing-function-docstring,
    missing-module-docstring,
    multiple-imports,
    singleton-comparison,
    subprocess-run-check,
    superfluous-parens,
    ungrouped-imports,
    unidiomatic-typecheck,
    unnecessary-direct-lambda-call,
    unnecessary-lambda-assignment,
    unnecessary-pass,
    unneeded-not,
    useless-import-alias,
    wrong-import-order,
    wrong-import-position,
    comparison-of-constants,
    comparison-with-itself,
    consider-alternative-union-syntax,
    consider-merging-isinstance,
    consider-using-alias,
    consider-using-dict-comprehension,
    consider-using-generator,
    consider-using-get,
    consider-using-set-comprehension,
    consider-using-sys-exit,
    consider-using-ternary,
    literal-comparison,
    property-with-parameters,
    super-with-arguments,
    too-many-branches,
    too-many-return-statements,
    too-many-statements,
    trailing-comma-tuple,
    unnecessary-comprehension,
    use-a-generator,
    use-dict-literal,
    use-list-literal,
    useless-object-inheritance,
    useless-return,
    no-else-break,
    no-else-continue,
    no-else-raise,
    no-else-return,
    broad-except,
    protected-access,
    broad-exception-raised,
    consider-using-f-string,

    # Handled by mypy
    abstract-class-instantiated,
    arguments-differ,
    assigning-non-slot,
    assignment-from-no-return,
    assignment-from-none,
    bad-exception-cause,
    bad-format-character,
    bad-reversed-sequence,
    bad-super-call,
    bad-thread-instantiation,
    catching-non-exception,
    comparison-with-callable,
    deprecated-class,
    dict-iter-missing-items,
    format-combined-specification,
    global-variable-undefined,
    import-error,
    inconsistent-mro,
    inherit-non-class,
    init-is-generator,
    invalid-class-object,
    invalid-enum-extension,
    invalid-envvar-value,
    invalid-format-returned,
    invalid-hash-returned,
    invalid-metaclass,
    invalid-overridden-method,
    invalid-repr-returned,
    invalid-sequence-index,
    invalid-slice-index,
    invalid-slots-object,
    invalid-slots,
    invalid-star-assignment-target,
    invalid-str-returned,
    invalid-unary-operand-type,
    invalid-unicode-codec,
    isinstance-second-argument-not-valid-type,
    method-hidden,
    misplaced-format-function,
    missing-format-argument-key,
    missing-format-attribute,
    missing-kwoa,
    no-member,
    no-value-for-parameter,
    non-iterator-returned,
    non-str-assignment-to-dunder-name,
    nonlocal-and-global,
    not-a-mapping,
    not-an-iterable,
    not-async-context-manager,
    not-callable,
    not-context-manager,
    overridden-final-method,
    raising-bad-type,
    raising-non-exception,
    redundant-keyword-arg,
    relative-beyond-top-level,
    self-cls-assignment,
    signature-differs,
    star-needs-assignment-target,
    subclassed-final-class,
    super-without-brackets,
    too-many-function-args,
    typevar-double-variance,
    typevar-name-mismatch,
    unbalanced-dict-unpacking,
    unbalanced-tuple-unpacking,
    unexpected-keyword-arg,
    unhashable-member,
    unpacking-non-sequence,
    unsubscriptable-object,
    unsupported-assignment-operation,
    unsupported-binary-operation,
    unsupported-delete-operation,
    unsupported-membership-test,
    used-before-assignment,
    using-final-decorator-in-unsupported-version,
    wrong-exception-operation

enable=
    use-symbolic-message-instead

[REPORTS]
score=no

[TYPECHECK]
ignored-classes=_CountingAttr
mixin-class-rgx=.*[Mm]ix[Ii]n

[FORMAT]
expected-line-ending-format=LF

[EXCEPTIONS]
overgeneral-exceptions=
    builtins.BaseException,
    builtins.Exception

[TYPING]
runtime-typing=no

[CODE_STYLE]
max-line-length-suggestions=72

[DESIGN]
max-args=10
